-if !@slideshow.nil?
  .row.colored.hidden-xs.hidden-sm
    .col-md-12.col-sm-12.col-xs-12
      #mainbnr{style: "max-width:900px"}
        #slides
          -@slideshow.slides.order('position').each do |slide|
            = slide_image_schema(slide)
            -if !slide.uri.empty?
              =link_to (image_tag slide.image), url(slide.uri), rel: 'nofollow'
            -else
              =image_tag slide.image
        .bwr{:style => 'z-index:999'}
  #sh-about.text-left{ style: 'padding: 16px; margin-bottom: 24px; margin: 0 36px;' }
    - city= Morpher.new(@subdomain.city)
    %h2 Цветы с доставкой #{city.singular('где')} - удивите своих близких ярким букетом!
    %p Язык живых цветов появился очень давно на Востоке и до сих пор пользуется безумной популярностью. Прелесть этого языка в том, что каждый цветок что-то обозначает и имеет скрытый смысл. С помощью цветов можно передать зашифрованное послание, в котором будет говориться об испытываемых чувствах или о призыве к действию. Поэтому ничего удивительного, что язык цветов пользуется большой популярностью у влюбленных людей, особенно на день святого Валентина. Всем давно известно, что любовь и цветы просто созданы друг для друга. Только живые цветы могут передать чувства и намерения вручающего их человека. Специально для этого создаются особые букеты и композиции, которые несут заложенный в них смысл или послание. На данной странице вы можете выбрать готовый букет или заказать создание индивидуального букета с доставкой в #{city.singular('где')}. 
    %p Заказать и доставить цветы в #{@subdomain.city}, можно всего в несколько кликов. Поэтому вы можете быстро и оригинально поздравить с праздником или просто порадовать любимого человека, живущего в этом городе. В этом вам помогут опытные флористы, создающие яркие и оригинальные букеты с учетом ваших пожеланий. Именно они помогут точно и безошибочно выразить ваши намерения и чувства с помощью индивидуального букета. Заказывая цветы с доставкой в #{city.singular('где')}, получатель гарантированно получит самый красивый букет, созданный из свежих, отборных цветов. Наши профессиональные курьеры доставят ваш подарок согласно дате и времени указанному в заказе. Сразу же после вручения букета, наши менеджеры проинформируют вас. Нам ежедневно доверяют тысячи людей. За все время мы уже доставили более 500 тысяч букетов по всему миру и получили столько благодарных отзывов.  