<% i = 0 + @offset; @posts.each do | post | %>
  <% if i % 5 == 0; big = 'big'; else; big = ''; end; %>
  <div class="post-item <%=big%>"><div class="wrapper hvr-grow">
    <%#<h2></h2>%>
    <hr />
    <p>
      <% image_path = get_smile_image_path(post) %>
      <% if image_path %>
        <a href="/smiles/<%=post.id%>/"><img class="show-smile" type="button" src="<%=image_path%>" /></a>
      <% else %>
        <!-- 뤰향혦 햠햣향 햦향쮏쐄햟햤햣햫햦혪 -->
        <a href="/smiles/<%=post.id%>/" class="no-image-smile">
          <div class="smile-no-image">
            <span class="no-image-text">游닇 뤰향혦</span>
          </div>
        </a>
      <% end %>
    </p>
    <p >
      <a class="btn rm" href="/smiles/<%=post.id%>/">쮏얨쮏쐃쫧왏</a>
    </p>
  </div></div>
<% i = i + 1; end; %>

<% if @lastget %><style>.get-more{display:none}</style><% end %>
