- # encoding: utf-8
%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:news, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:news, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:news, :destroy_many), :method => :delete do
                      =hidden_field_tag :news_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header= :id
        %th.header= :title
        %th.header= :announce
        %th.header= :body
        %th.header= :image
        %th.header= :created_at
        %th.header= :updated_at
        %th.header.list-row-action-header

    %tbody
      -@news.each do |news|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'news_ids[]', :value => news.id, :class => 'list-selectable-checkbox'
          %td.list-column=news.id
          %td.list-column=news.title
          %td.list-column=truncate_words(strip_tags(news.announce))
          %td.list-column=truncate_words(strip_tags(news.body))
          %td.list-column=image_tag(news.image, :class => 'img-rounded', :style => 'max-width:200px;')
          %td.list-column=time_ago_in_words news.created_at
          %td.list-column=time_ago_in_words news.updated_at
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:news, :edit, :id => news.id), :rel => :tooltip, :title => "#{pat(:edit)} news", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} news", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "news")
                .popover-content
                  -form_tag url(:news, :destroy, :id => news.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
!=will_paginate @news