- # encoding: utf-8
-form_tag url(:smiles, :search), :method => :get, :class => 'form-horizontal' do
  %fieldset.control-group
    =select_tag :type, :options => Smile.attribute_names, :selected => 'id', :style => "width:20%"
    =text_field_tag :query, :class => 'search_field', :placeholder => 'поиск', :style => "width:60%"
    =submit_tag pat('Поиск'), :class => 'btn btn-primary'
%ul.nav.nav-tabs
  %li{class: @filter_type == 'all' ? 'active' : ''}=link_to tag_icon(:list, pat(:list)), url(:smiles, :index)
  %li{class: @filter_type == 'unpublished' ? 'active' : ''}=link_to tag_icon(:'exclamation-sign', 'Неопубликованные'), url(:smiles, :unpublished)
  %li=link_to tag_icon(:plus, pat(:new)), url(:smiles, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:smiles, :destroy_many), :method => :delete do
                      -# Fixed for compatibility - was: =hidden_field_tag :smile_ids, :'data-delete-many-ids' => true
                      %input{type: 'hidden', name: 'smile_ids', 'data-delete-many-ids': true}
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header= :id
        %th.header= :title
        %th.header Фото
        %th.header Описание
        %th.header Дата
        %th.header Рейтинг
        %th.header Sidebar
        %th.header.list-row-action-header

    %tbody
      -@smile.each do |smile|
        - published_value = smile.published
        - is_published = case published_value
        -   when 1, true, "1" then true
        -   when "\x01", "\001" then true  # BIT(1) = 1 in binary
        -   when 0, false, "0" then false
        -   when "\x00", "\000" then false  # BIT(1) = 0 in binary
        -   else published_value.to_i == 1
        - # На вкладке "Неопубликованные" отображать все обычным шрифтом
        - show_as_bold = !is_published && @filter_type != 'unpublished'
        - # DEBUG: smile #{smile.id}: published=#{published_value.inspect} (#{published_value.class}), is_published=#{is_published}, show_as_bold=#{show_as_bold}
        - row_class = (!is_published && @filter_type != 'unpublished') ? 'list-row unpublished-smile' : 'list-row'
        %tr{class: row_class}
          %td.list-column.list-selectable
            =check_box_tag 'smile_ids[]', :value => smile.id, :class => 'list-selectable-checkbox'
          %td.list-column
            - if show_as_bold
              %strong= smile.id
            - else
              = smile.id
          %td.list-column
            - if show_as_bold
              %strong= smile.title
            - else
              = smile.title
          %td.list-column=image_tag(smile.images, :class => 'img-rounded', :style => 'max-width:200px;')
          %td.list-column
            - body_text = smile.body ? smile.body.truncate(25) : ''
            - if show_as_bold
              %strong= body_text
            - else
              = body_text
          %td.list-column
            - if show_as_bold
              %strong= smile.date
            - else
              = smile.date
          %td.list-column
            - if show_as_bold
              %strong= smile.rating
            - else
              = smile.rating
          %td.list-column
            - if show_as_bold
              %strong= smile.sidebar ? 'Да' : 'Нет'
            - else
              = smile.sidebar ? 'Да' : 'Нет'
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:smiles, :edit, :id => smile.id), :rel => :tooltip, :title => "#{pat(:edit)} smile", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} smile", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "smile")
                .popover-content
                  -form_tag url(:smiles, :destroy, :id => smile.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
!=will_paginate @smile

%style
  :css
    .unpublished-smile {
      background-color: #fffbea !important;
    }
