-content_for :include do
  =stylesheet_link_tag 'bootstrap-responsive.min.css'
  =javascript_include_tag 'bootstrap.min.js'

.tabs-content
  .tab-content.active
    %h1= @title || "Edit Permissions"
    
    %p.description Edit user access permissions for admin panel sections.
    
    -if @account
      .row
        .span12
          .well
            %h3 User Information
            %p
              %strong Name: 
              -begin
                = @account.display_name
              -rescue => e
                Unknown User
            %p
              %strong Email: 
              -begin
                = @account.email
              -rescue => e
                unknown@example.com
            %p
              %strong Role: 
              -begin
                -role = @account.role || 'editor'
                -role_css = case role
                -when 'admin'
                  'label-important'
                -when 'manager'
                  'label-warning'
                -when 'editor'
                  'label-info'
                -else
                  'label-default'
                %span.label{:class => role_css}
                  = role
              -rescue => e
                %span.label.label-default editor
          
          -if @account.role == 'admin'
            .alert.alert-info
              %strong Note: 
              This user is an admin and has access to all modules regardless of the settings below.
          
          %form{:action => "/admin/permissions/update/#{@account.id}", :method => "post", :class => "form-horizontal"}
            %fieldset
              %legend Available Modules
              
              .control-group
                %label.control-label Permissions:
                .controls
                  -@modules.each do |module_name|
                    -begin
                      -module_display = case module_name
                      -when 'accounts'
                        'User Accounts'
                      -when 'products' 
                        'Products'
                      -when 'categories'
                        'Categories'
                      -when 'orders'
                        'Orders'
                      -when 'comments'
                        'Comments'
                      -when 'news'
                        'News'
                      -when 'articles'
                        'Articles'
                      -when 'pages'
                        'Pages'
                      -when 'clients'
                        'Clients'
                      -when 'contacts'
                        'Contacts'
                      -when 'seo'
                        'SEO'
                      -when 'payment'
                        'Payments'
                      -when 'smiles'
                        'Reviews (Smiles)'
                      -else
                        module_name.to_s.humanize
                      
                      -is_checked = @current_permissions.include?(module_name)
                      %label.checkbox
                        %input{:type => "checkbox", :name => "permissions[]", :value => module_name, :checked => is_checked}
                        = module_display
                    -rescue => e
                      %label.checkbox
                        %input{:type => "checkbox", :name => "permissions[]", :value => module_name}
                        = module_name
              
              .form-actions
                %button.btn.btn-primary{:type => "submit"} Update Permissions
                %a.btn.btn-secondary{:href => "/admin/permissions"} Cancel
    -else
      .alert.alert-error
        %strong Error: 
        User not found or could not be loaded.
        %br
        %a.btn.btn-primary{:href => "/admin/permissions"} Back to Permissions

:javascript
  $(document).ready(function() {
    // Подсчет выбранных модулей
    function updateCount() {
      var count = $('input[name="permissions[]"]').filter(':checked').length;
      var total = $('input[name="permissions[]"]').length;
      
      var countText = 'Selected: ' + count + ' of ' + total + ' modules';
      if (!$('.permission-count').length) {
        $('.form-actions').prepend('<p class="permission-count text-info">' + countText + '</p>');
      } else {
        $('.permission-count').text(countText);
      }
    }
    
    // Обновляем подсчет при изменении
    $('input[name="permissions[]"]').change(updateCount);
    
    // Начальный подсчет
    updateCount();
    
    // Кнопки выбора всего/ничего
    if (!$('.select-buttons').length) {
      $('.controls').prepend('<div class="select-buttons"><button type="button" class="btn btn-mini select-all">Select All</button> <button type="button" class="btn btn-mini select-none">Select None</button></div><br/>');
    }
    
    $('.select-all').click(function(e) {
      e.preventDefault();
      $('input[name="permissions[]"]').prop('checked', true);
      updateCount();
    });
    
    $('.select-none').click(function(e) {
      e.preventDefault();
      $('input[name="permissions[]"]').prop('checked', false);
      updateCount();
    });
  });