-content_for :include do
  =stylesheet_link_tag 'bootstrap-responsive.min.css'
  =javascript_include_tag 'bootstrap.min.js'

.tabs-content
  .tab-content.active
    %h1= @title || "Permissions Management"
    
    -if @encoding_error
      .alert.alert-warning
        %strong Encoding Error: 
        = @encoding_error
        %br
        Some data may display incorrectly.
    
    %p.description Manage user access to admin panel sections.
    
    -if @accounts.nil? || @accounts.empty?
      .alert.alert-info
        %strong No accounts found.
        %br
        This may be due to encoding issues or empty database.
        %br
        %a.btn.btn-primary{:href => url(:accounts, :index)} Go to Accounts Management
    -else
      .row
        .span12
          %table#list.table.table-striped.table-hover.table-condensed
            %thead
              %tr
                %th.header ID
                %th.header Name
                %th.header Email  
                %th.header Role
                %th.header Permissions Count
                %th.header Actions
            %tbody
              -@accounts.each do |account|
                %tr
                  %td= account.id || 0
                  %td
                    -begin
                      = account.display_name || "Unknown User"
                    -rescue => e
                      [Encoding Error]
                  %td
                    -begin
                      = account.email || "no-email"
                    -rescue => e
                      error@example.com
                  %td
                    -begin
                      -role = account.role || 'editor'
                      -role_css = case role
                      -when 'admin'
                        'label-important'
                      -when 'manager'
                        'label-warning'
                      -when 'editor'
                        'label-info'
                      -else
                        'label-default'
                      %span.label{:class => role_css}
                        = role
                    -rescue => e
                      %span.label.label-default editor
                  %td
                    -begin
                      -if account.role == 'admin'
                        %span.label.label-success All (unlimited)
                      -else
                        -perms = account.permissions rescue []
                        %span.badge.badge-info= perms.size
                    -rescue => e
                      %span.text-muted 0
                  %td
                    -begin
                      %a.btn.btn-primary.btn-small{:href => "/admin/permissions/edit/#{account.id}"} Edit
                    -rescue => e
                      %span.text-muted Edit (Error)