-# coding: utf-8

:plain
  <script>
    $(function() {
      $('.selectpicker').selectpicker();
      $('.selectpicker').selectpicker('val', [#{@pc_ids}]);
      $('.selectpicker').selectpicker('render');
      $('.selectpicker2').selectpicker();
      $('.selectpicker2').selectpicker('val', [#{@pt_ids}]);
      $('.selectpicker2').selectpicker('render');
      $('.selectpicker3').selectpicker();
      $('.selectpicker3').selectpicker('val', [#{@pct_ids}]);
      $('.selectpicker3').selectpicker('render');
      window.complects_preloaded = #{@product_complects};
      window.tags_preloaded = #{@tag_complects};
    });
  </script>

- error = @product.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : 'Заголовок'

- error = @product.errors.include?(:description)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :description, :class => 'control-label'
  .controls
    =f.text_field :description, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:description, :class => 'text-error') : 'Описание'

- error = @product.errors.include?(:keywords)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :keywords, :class => 'control-label'
  .controls
    =f.text_field :keywords, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:keywords, :class => 'text-error') : 'Ключевые слова'  

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:products, :index), :class => 'btn'
