- # encoding: utf-8
=partial 'seo/tabs', :locals => {:entity => :pages, :action => :list}
.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
        %th.header= :id
        %th.header= :uri
        %th.header= :title
        %th.header= :description
        %th.header= :keywords
        %th.header= :created_at
        %th.header= :updated_at
        %th.header.list-row-action-header

    %tbody
      -@pages.each do |page|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'page_ids[]', :value => page.id, :class => 'list-selectable-checkbox'
          %td.list-column=page.id
          %td.list-column=page.uri
          %td.list-column
            %strong=page.title
          %td.list-column=page.description
          %td.list-column=page.keywords
          %td.list-column=time_ago_in_words page.created_at
          %td.list-column=time_ago_in_words page.updated_at
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:'seo/pages', :edit, :id => page.id), :rel => :tooltip, :title => "#{pat(:edit)} page", :class => 'list-row-action-wrapper-link'
