- # encoding: utf-8

%h3
  Заказ от
  =@order.created_at.in_time_zone.strftime("%d.%m.%Y, %H:%M")
%h5
  Пользователь:
  = if @order.useraccount && @order.useraccount.respond_to?(:surname)
    @order.useraccount.surname || "Пользователь"
  - else
    "Гость"

%table#list.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th.header Наименование
      %th.header Цена
      %th.header Кол-во
      %th.header Стоимость

  %tbody
    - cart_items = nil
    - if @order.cart && !@order.cart.empty?
      - begin
        - cart_items = JSON.parse(@order.cart)
      - rescue JSON::ParserError => e
        - cart_items = nil
    
    - if cart_items && cart_items.any?
      - cart_items.each do |item|
        %tr.list-row
          %td.list-column= item["title"]
          %td.list-column= '%.0f' % item["price"]
          %td.list-column= item["quantity"]
          %td.list-column= '%.0f' % (item["price"].to_f * item["quantity"].to_i)
    - else
      - order_products_found = false
      - if @order && @order.respond_to?(:order_products)
        - begin
          - order_products = @order.order_products
          - if order_products && order_products.any?
            - order_products_found = true
            - order_products.each do |order_product|
              %tr.list-row
                %td.list-column= order_product.title || "Товар"
                %td.list-column= order_product.price ? ('%.0f' % order_product.price) : "0"
                %td.list-column= order_product.quantity || 0
                %td.list-column= '%.0f' % ((order_product.price || 0).to_f * (order_product.quantity || 0).to_i)
        - rescue => e
          %tr.list-row
            %td.list-column{:colspan => 4}
              Ошибка при загрузке товаров: 
              %code= e.message
              %br
              %small= e.backtrace.first if e.backtrace
      - unless order_products_found
        %tr.list-row
          %td.list-column{:colspan => 4}
            Корзина заказа пуста или не сохранена
            %br
            %small Заказ ID: #{@order.id}

%h3.text-right Итого: #{'%.0f' % (@order.total_summ - @order.delivery_price.to_i)} руб.