- # encoding: utf-8
%ul.nav.nav-tabs
  %li{class: @filter_type == 'all' ? 'active' : ''}=link_to tag_icon(:list, pat(:list)), url(:comments, :index)
  %li{class: @filter_type == 'unpublished' ? 'active' : ''}=link_to tag_icon(:'exclamation-sign', 'Неопубликованные'), url(:comments, :unpublished)
  %li=link_to tag_icon(:plus, pat(:new)), url(:comments, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:comments, :destroy_many), :method => :delete do
                      =hidden_field_tag :comment_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header ID
        %th.header Имя
        %th.header Текст
        %th.header ⭐️
        %th.header Заказ №
        %th.header Создано
        %th.header Обновлено
        %th.header.list-row-action-header

    %tbody
      -@comments.each do |comment|
        - published_value = comment.published
        - is_published = case published_value
        -   when 1, true, "1" then true
        -   when "\x01", "\001" then true  # BIT(1) = 1 in binary
        -   when 0, false, "0" then false
        -   when "\x00", "\000" then false  # BIT(1) = 0 in binary
        -   else published_value.to_i == 1
        - # На вкладке "Неопубликованные" отображать все обычным шрифтом
        - show_as_bold = !is_published && @filter_type != 'unpublished'
        - # DEBUG: comment #{comment.id}: published=#{published_value.inspect} (#{published_value.class}), is_published=#{is_published}, show_as_bold=#{show_as_bold}
        - row_class = (!is_published && @filter_type != 'unpublished') ? 'list-row unpublished-comment' : 'list-row'
        %tr{class: row_class}
          %td.list-column.list-selectable
            =check_box_tag 'comment_ids[]', :value => comment.id, :class => 'list-selectable-checkbox'
          %td.list-column
            - if show_as_bold
              %strong= comment.id
            - else
              = comment.id
          %td.list-column
            - if show_as_bold
              %strong= comment.name
            - else
              = comment.name
          %td.list-column
            - body_text = truncate_words(strip_tags(comment.body.to_s))
            - if show_as_bold
              %strong= body_text
            - else
              = body_text
          %td.list-column
            - if show_as_bold
              %strong= comment.rating
            - else
              = comment.rating
          %td.list-column
            - if comment.order_eight_digit_id.present?
              - order_exists = Order.exists?(eight_digit_id: comment.order_eight_digit_id)
              - if order_exists
                - if show_as_bold
                  %strong= comment.order_eight_digit_id
                - else
                  = comment.order_eight_digit_id
              - else
                - if show_as_bold
                  %strong{style: "color: red;"}= comment.order_eight_digit_id
                - else
                  %strong{style: "color: red;"}= comment.order_eight_digit_id
            - else
              - if show_as_bold
                %strong
                  %small.text-muted Не указан
              - else
                %small.text-muted Не указан
          %td.list-column
            - if show_as_bold
              %strong= time_ago_in_words comment.created_at
            - else
              = time_ago_in_words comment.created_at
          %td.list-column
            - if show_as_bold
              %strong= time_ago_in_words comment.updated_at
            - else
              = time_ago_in_words comment.updated_at
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:comments, :edit, :id => comment.id), :rel => :tooltip, :title => "#{pat(:edit)} comment", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} comment", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "comment")
                .popover-content
                  -form_tag url(:comments, :destroy, :id => comment.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
!=will_paginate @comments


%style
  :css
    .unpublished-comment {
      background-color: #fffbea !important;
    }