-# coding: utf-8

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header= :id
        %th.header Заголовок
        %th.header Переоценка в рублях
        %th.header Переоценка в процентах


    %tbody
      - @categories.each_with_index do |cat, index|
        - fields_for @categories[index] do |builder|
          %tr.list-row
            %td.list-column
              = cat.id
              = builder.hidden_field "#{index}][id", :value => cat.id
            %td.list-column=cat.title
            %td.list-column
              = builder.text_field "#{index}][discount_in_rubles", :autofocus => true, :value => cat.discount_in_rubles
            %td.list-column
              = builder.text_field "#{index}][discount_in_percents", :autofocus => true, :value => cat.discount_in_percents

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:categories, :index), :class => 'btn'
