<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width,initial-scale=1' name='viewport'>
    <% get_seo_data('default', nil, true) if @seo.nil? %>
    <title><%= @seo[:title] %></title>
    <meta content="<%= @seo[:description] %>" name="description"/>
    <%# <meta content="<%= @seo[:keywords] >" name="keywords"/> %>
    <meta content="<%= @seo[:og_type] %>" property="og:type"/>
    <meta content="<%= @seo[:og_title] %>" property="og:title"/>
    <meta content="<%= @seo[:og_description] %>" property="og:description"/>
    <meta content="<%= @seo[:og_image] %>" property="og:image"/>
    <% if @is_smile_page && @canonical_url %>
      <meta content="<%= @canonical_url %>" property="og:url"/>
    <% else %>
      <meta content="https://www.<%=CURRENT_DOMAIN%>/" property="og:url"/>
    <% end %>
    <meta content="Розарио.Цветы" property="og:site_name"/>
    <meta content="ru_RU" property="og:locale"/>
    <meta content="<%= @seo[:twitter_title] %>" property="twitter:title"/>
    <meta content="<%= @seo[:twitter_description] %>" property="twitter:description"/>
    <meta content="Розарио.Цветы" property="twitter:site"/>
    <meta content="<%= @seo[:twitter_image] %>" property="twitter:image"/>
    <meta content="rozarioflowers logo" property="twitter:image:alt"/>
    <% if defined?(@canonical) && @canonical %>
      <link href="<%= @canonical %>" rel="canonical">/</link>
    <% end %>
    <% unless defined?(@seo[:index]) && @seo[:index] === true %>
      <meta content="noindex, nofollow" name="robots" />
    <% end %>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="/stylesheets/main4.css?v=1.2.5" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/es6-promise.min.js" type="text/javascript"></script>
    <script src="/javascripts/hdr_plugins.js" type="text/javascript"></script>
    <script src="/javascripts/site.js" type="text/javascript"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script> -->
    <!-- /=javascript_include_tag 'jquery-migrate-1.2.1.min' -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script> -->
    <!-- <script src="/javascripts/ang/angular4.min.js" type="text/javascript"></script> -->
    <script src="/javascripts/ang/lodash.underscore.min.js" type="text/javascript"></script>
    <script src="/javascripts/ang/restangular.min.js"       type="text/javascript"></script>
    <script src="/javascripts/ang/angular-busy.min.js"      type="text/javascript"></script>
    <script src="/javascripts/ang/navigator.js"             type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/smiles.2.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.1/packery.pkgd.min.js"></script>

    <!-- :javascript -->
    <!-- (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': -->
    <!-- new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], -->
    <!-- j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= -->
    <!-- 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); -->
    <!-- })(window,document,'script','dataLayer','GTM-K5GZQ8'); -->
  </head>
  <body ng-app="catalog"  style="background-color: rgb(244, 231, 216);">
    <div id="SVELTE_HEADER" style="position: absolute; right: 0; left: 0; z-index: 10000;"></div>
    <noscript>
      <!-- %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-K5GZQ8", :style => "display:none;visibility:hidden", :width => "0"} -->
    </noscript>
    <!--[if lt IE 7]>
    <p class='chromeframe'>Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">установите актуальную версию</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируйте Google Chrome Frame</a> для верного отображения сайта.</p>
    <![endif]-->
    <div id='wr' ng-controller='itemsController'>
      <% if @seo[:h1] %><h1 id="h1"><%=@seo[:h1].html_safe %></h1><% else %><div id="h1"></div><% end %>
      <div class='container text-center' style='max-width: 1000px; position: relative;'>
        <%#= render "layouts/parts/_site-header", :handlers => [:haml], layout: false %>
        <%#= render "layouts/parts/_site-menu", :handlers => [:haml], layout: false %>
        <%#= partial 'layouts/parts/site-header'%>
        <%#= partial 'layouts/parts/site-menu'%>
        <%#= partial 'layouts/parts/slideshow'%>
        <div class='row colored' id='mainnn'>
          <%= render "layouts/parts/_sidebarrr", :handlers => [:haml], layout: false %>
          <div class='col-md-8 text-left' id='content' style='margin-bottom:8px;'>

<%= yield %>

          </div>
        </div>
        <%#= render "layouts/parts/_latest_news.ftr", :handlers => [:haml], layout: false %>
        <%#= render "layouts/parts/_comments.ftr", :handlers => [:haml], layout: false %>
        <%#= render "layouts/parts/_faq.ftr", :handlers => [:haml], layout: false %>
        <%#
        <div class="row text-center" id="footer" itemscope = true, itemtype = 'http://schema.org/Florist'>
          <div class="col-12">
            <div class="row information visible-md visible-lg">
              <div class="delta_l"></div>
              <div class="delta_r"></div>
              <div class="col-md-2">
                <a href="/page/company">O нас</a>
              </div>
              <div class="col-md-3">
                <a href="/page/dostavka">Информация о доставке</a>
              </div>
              <div class="col-md-3">
                <a href="/page/confidentiality">Политика конфиденциальности</a>
              </div>
              <div class="col-md-2">
                <a href="/page/contacts">Обратная связь</a>
              </div>
              <div class="col-md-2">
                <a href="/article">Блог</a>
              </div>
            </div>
          </div>
          <div class="col-12" style='margin-top: 15px;'>© 2011-<%=Time.now.year «Розарио - Доставка цветов №1»</div>
            <div class="col-12">тел.: 8 (800) 250-64-70</div>
            <div class="col-12">
              эл. почта: <a id="mail" href="mailto:info@rozariofl.ru">info@rozariofl.ru</a>
            </div>
        </div>
        %>
      </div>
    </div>
    <%#<script src="/javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>%>
    <%#<script src="/javascripts/jquery.slides.min.js" type="text/javascript"></script>%>
    <%# <link href='/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.css' rel='stylesheet'> %>
    <%# <link href='/javascripts/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css' rel='stylesheet'> %>
    <%# <script src='/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js'></script> %>
    <%# <script src='/javascripts/city_select.js'></script> %>
    <script type="text/javascript">var ID73941098=setInterval(function(){if($("#ftr-txt").is("div")){for(var t=0;t<$("#ftr-txt > p").length;t++)if($("#ftr-txt > p:eq("+t+") > strong:eq(0)").is("strong")&&t%2==0){var r=$("#ftr-txt > p:eq("+t+") > strong:eq(0)").text();$("#ftr-txt > p:eq("+t+") > strong:eq(0)").remove(),$("#ftr-txt > p:eq("+t+")").append("<h2>"+r+"</h2>")}clearInterval(ID73941098)}},100);</script>
    <%#<script type="text/javascript">document.write('<script type="text/javascript" charset="utf-8" async="true" id="onicon_loader" src="https://cp.onicon.ru/js/simple_loader.js?site_id=52ca8cfc72d22ca11f00000d&srv=1&' + (new Date).getTime() + '"></scr' + 'ipt>');</script>%>

    <div id="SVELTE_FOOTER" style="position: relative; z-index: 9999;"></div>
    <script type="module" crossorigin src="/assets/index-Co12sWag.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-CJLuh6eo.css">

    <%# <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter24765725 = new Ya.Metrika({id:24765725, webvisor:true, clickmap:true, accurateTrackBounce:true}); w.yaCounter21751030 = new Ya.Metrika({id:21751030, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/24765725" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter --> %>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(21751030, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
    </script>
    <!-- /Yandex.Metrika counter -->

    <%#<!-- Calltouch -->
      <script type="text/javascript">(function(w,d,n,c){w.CalltouchDataObject=n;w[n]=function(){w[n]["callbacks"].push(arguments)};if(!w[n]["callbacks"]){w[n]["callbacks"]=[]}w[n]["loaded"]=false;if(typeof c!=="object"){c=[c]}w[n]["counters"]=c;for(var i=0;i<c.length;i+=1){p(c[i])}function p(cId){var a=d.getElementsByTagName("script")[0],s=d.createElement("script"),i=function(){a.parentNode.insertBefore(s,a)};s.type="text/javascript";s.async=true;s.src="https://mod.calltouch.ru/init.js?id="+cId;if(w.opera=="[object Opera]"){d.addEventListener("DOMContentLoaded",i,false)}else{i()}}})(window,document,"ct","dw73ow73");</script>
    <!-- Calltouch -->%>

    <!-- DIRECT DEBUG - NO PARTIALS -->
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 50px; background: cyan; color: black; z-index: 999999; display: flex; align-items: center; justify-content: center; font-size: 20px; font-weight: bold;">
        ERBHF LAYOUT LOADED - ERB FORMAT
    </div>
    
    <div style="position: fixed; bottom: 0; left: 0; width: 100%; height: 60px; background: magenta; color: white; z-index: 999999; display: flex; align-items: center; justify-content: center; font-size: 18px; font-weight: bold;">
        DIRECT CART PANEL - ERBHF
    </div>

  </body>
</html>
